:root{
    --zoom:1;
}

main{
    width: calc(21cm*var(--zoom)) ;
    height: calc(29.7cm*var(--zoom));
    margin: 2em auto 2em auto;
    border: 2px solid rgb(185, 185, 185);
    /*border-radius: 140px;*/
    background: rgba(250, 250, 250, 0.562);

    font-family: 'League Spartan', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: block;
    /*background: linear-gradient(rgb(182, 222, 255),rgb(184, 224, 255), rgb(186, 226, 255),  rgb(188, 228, 255),rgb(200, 230, 255) );*/
}
h2{
    font-family: "League Spartan";
    font-size: calc(var(--zoom)*22pt);
    text-align: center;
    border-bottom: 2px solid #085287;
    color: #085287;
    margin:  calc(var(--zoom)*15px) 0 calc(var(--zoom)*10px) 0;

}
h3{
    font-size: calc(var(--zoom)*16pt);
    font-weight: 500;
    text-align: center;
    margin-bottom:  calc(var(--zoom)*5px) ;

}
h4{
    font-size: calc(var(--zoom)*16pt);
    font-weight: 600;
    margin:  calc(var(--zoom)*15px) 0 calc(var(--zoom)*10px) 0;
}
p,a{
    font-size: calc(var(--zoom)*12pt);
    text-align: justify;
    margin: calc(var(--zoom)*8px) 0 calc(var(--zoom)*8px) 0;
}
a{
    color: white;
    text-decoration: none;

} a:visited{
    color: rgb(236, 236, 236);
}

ul{
    list-style-type: none;
    padding: 0;
}
li{
    font-size: calc(var(--zoom)*12pt);
    text-align: center;
}

img{
    width: calc(var(--zoom)*25px);
    position: relative;
    top: calc(var(--zoom)*3px);
    margin-right: calc(var(--zoom)*5px);
}
table{
    width: 100%;
    text-align: center;
    justify-content: center;
    
}
td{
    width: 20%;
    padding: 8px;
}

/*--------------+                   +--------------*/
.title{
    width: 100%;
    height: 15.7%;
    display: flex;
    background: rgb(8, 82, 135);
    margin: calc(var(--zoom)*30px) 0 calc(var(--zoom)*15px) 0;
}
.name{
    width: 55%;

    font-family: 'League Spartan';
    font-size: calc(var(--zoom)*22pt);
    letter-spacing: calc(var(--zoom)*4pt);
    font-weight: bolder;
    padding: calc(var(--zoom)*7PX);
    text-align: center;
    margin: auto calc(var(--zoom)*50px) auto auto;


    border-radius: 0px 140px 140px 0px;
    color: white;
}
/*--------------+       +--------------*/
.info{
    width: 100%;
    height: 79.8%;
    display: flex;
}
/*--------------+FILA 1+--------------*/

.personal-info{
    width: 25%;
    height: 100%;
    margin: calc(var(--zoom)*-5.9cm) auto 0 auto;
    padding: calc(var(--zoom)*5.9cm) 0 0 0;
    background:#2f88ff;
    color: white;

    
}.personal-info h2{
    border: none;
    color: white;
}
.contact{
    padding: calc(var(--zoom)*12px);
    

}
.languaje{
    padding: calc(var(--zoom)*12px);

}

/*--------------+FILA 2+--------------*/
.description{
    width: 65%;
    height: 100%;
    margin: auto;
    border-radius: 0px 140px 140px 0px;

}
.about-me{
    padding: calc(var(--zoom)*6px);
}
.education{
    padding: calc(var(--zoom)*12px);

} .education p{
    text-align: center;
}
.studies-list li{
    background-position: 0 0;
    background-size: calc(var(--zoom)*30px);
    background-repeat: no-repeat;
    border-bottom: .01px dotted #085287;
}
.experience{
    padding: calc(var(--zoom)*12px);

}

.programming-languaje li{
   /*background-image: url(img/SVG/file-code.svg);*/
    background-size: calc(var(--zoom)*23px);

    background-repeat: no-repeat;
    margin: auto;
}


/*--------------+ID's+--------------*/
#margin-t{
    display: flex;
    margin-top:calc(var(--zoom)*15px) ;
}
